.jg-panel
{
	height: 65px;
}
.panel h5
{

	padding-left: 10px;
}

.box-shadow-first
{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.box-shadow-last
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}	
.kalendarz
{


}
td,th
{
	text-align:center;
}
.administracja h5 span.label
{
	margin-right:5px;
}
.aukcja-image-div img
{
	width:100%;
	height:100%;
}
.aukcja-kontrolki div
{
	margin-bottom:25px;
}
#aukcja-przedmiot-tytul
{
	margin-bottom:25px;
}

#menu ul
{
	list-style-type: none;
}
#menu ul li
{
	display:inline;
	padding: 5px;
    color: white;
    margin: 2px
}
#menu ul li a button.user
{
	background: #d0e9c6;
	color:black;
}
#menu ul li#wyloguj a button.user
{
    background: #FF4242;
    color: white;
}

.lista_aukcji_img
{
	max-height: 150px;
}
