<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">  <servlet>
    <servlet-name>Main Servlet</servlet-name>
    <servlet-class>main.ServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main Servlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rejestracja</servlet-name>
    <servlet-class>controllers.rejestracja.Rejestracja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rejestracja</servlet-name>
    <url-pattern>/rejestracja</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logowanie</servlet-name>
    <servlet-class>controllers.logowanie.Logowanie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logowanie</servlet-name>
    <url-pattern>/logowanie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lista użytkownikow</servlet-name>
    <servlet-class>controllers.uzytkownicy.ListaUzytkownikow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lista użytkownikow</servlet-name>
    <url-pattern>/lista_uzytkownikow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dodawanie aukcji</servlet-name>
    <servlet-class>controllers.aukcje.DodajAukcje</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dodawanie aukcji</servlet-name>
    <url-pattern>/dodaj_aukcje</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lista aukcji</servlet-name>
    <servlet-class>controllers.aukcje.ListaAukcji</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lista aukcji</servlet-name>
    <url-pattern>/lista_aukcji</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Podgląd aukcji</servlet-name>
    <servlet-class>controllers.aukcje.PodgladAukcji</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Podgląd aukcji</servlet-name>
    <url-pattern>/podglad_aukcji</url-pattern>
  </servlet-mapping>
</web-app>